BACKEND_URL="http://37.187.156.222:8080"
KEYCLOAK_URL="http://37.187.156.222:8081"
USERNAME="votre_login"
PASSWORD="votre_mot_de_passe"
ACCESS_TOKEN=""
REFRESH_TOKEN=""
TOKEN_EXPIRES_AT=""
TEAM_ID=""
